@use "../media.scss";

.weatherCard__graph {
  position: relative;
  height: 6em;
  margin: 0.2em 0;

  display: flex;

  overflow: hidden;

  .svgGraph {
    position: absolute;
    height: 100%;

    transition: transform 300ms linear;

    polyline {
      fill: var(--clr-graph-fill);
      stroke: var(--clr-graph-stroke);
    }

    .polyline--cold {
      fill: var(--clr-graph-fill-cold);
      stroke: var(--clr-graph-stroke-cold);
    }

    .polyline--warm {
      fill: var(--clr-graph-fill-warm);
      stroke: var(--clr-graph-stroke-warm);
    }

    .polyline--mixed {
      fill: var(--clr-graph-fill-mixed);
      stroke: var(--clr-graph-stroke-mixed);
    }

    .polyline--precip {
      fill: var(--clr-graph-fill-precip);
      stroke: var(--clr-graph-stroke-precip);
    }

    .polyline--humidity {
      fill: var(--clr-graph-fill-humid);
      stroke: var(--clr-graph-stroke-humid);
    }

    .polyline--wind {
      fill: transparent;
      stroke: var(--clr-graph-stroke-wind);
    }

    text {
      fill: var(--clr-main-font);
    }

    .activeHour {
      fill: var(--clr-font-highlight);
    }

    .arrowWrapper {
      background-color: transparent;

      .windArrow {
        transform-origin: 60px 60px;
        // animation: itsrotattin infinite 2s linear;
        fill: var(--clr-graph-fill-arrow);
        stroke: var(--clr-graph-stroke-arrow);
      }
    }
  }

  @include media.max-width(medium) {
    overflow-x: scroll;
  }
}

@keyframes itsrotattin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
