.loading {
  margin: 0 auto;
  max-width: var(--sz-max-width);
  height: 100vh;

  .loading__spinnerWrapper {
    max-height: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--clr-main-font);
    border-radius: 14px;
    background-color: var(--clr-main-bg);
  }
}
