@use "../media.scss";

.weatherCard {
  max-width: 734px;
  margin: 0 auto;

  .weatherCard__graphSelector {
    display: flex;
    margin: 0.5em 0;

    .weatherCard__graphSelector--button {
      background-color: transparent;
      border: transparent;
      cursor: pointer;
      color: var(--clr-main-font);
      font-size: 0.9rem;
      padding: 0 0 0.3em 0;
      border-bottom: 4px solid transparent;
    }

    .weatherCard__graphSelector--buttonActive {
      border-bottom: 4px solid gold;
    }

    .weatherCard__graphSelector--divider {
      height: 1.1rem;
      width: 1px;
      background-color: var(--clr-graphSelector-divider-bg);
      margin: 0 0.5em;
    }
  }
}
