@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;500&display=swap");

:root {
  --sz-max-width: 700px;
  --clr-main-bg: #242424;
  --clr-main-font: #bfbfbf;
  --clr-font-highlight: white;
  --sz-dayCard-borderRadius: 10px;
  --clr-dayCard-bg: #bfbfbf20;
  --clr-graphSelector-divider-bg: #fff4;

  --clr-graph-fill-warm: rgba(255, 217, 0, 0.3);
  --clr-graph-stroke-warm: rgba(255, 217, 0, 1);
  --clr-graph-fill-cold: rgba(0, 183, 255, 0.3);
  --clr-graph-stroke-cold: rgba(0, 183, 255, 1);
  --clr-graph-fill-mixed: rgba(218, 246, 248, 0.3);
  --clr-graph-stroke-mixed: rgba(218, 246, 248, 1);

  --clr-graph-fill-precip: rgba(0, 140, 255, 0.3);
  --clr-graph-stroke-precip: rgba(0, 140, 255, 1);
  --clr-graph-fill-humid: rgba(0, 217, 255, 0.3);
  --clr-graph-stroke-humid: rgba(0, 217, 255, 1);
  --clr-graph-stroke-wind: rgb(0, 217, 255);
  --clr-graph-fill-arrow: cadetblue;
  --clr-graph-stroke-arrow: paleturquoise;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: "Prompt", sans-serif;
}

.dark {
  --clr-main-bg: #242424;
  --clr-main-font: #bfbfbf;
  --clr-font-highlight: white;
  --clr-dayCard-bg: #bfbfbf20;
}

.light {
  --clr-main-bg: #ecf2ff;
  --clr-main-font: #5e5e5e;
  --clr-dayCard-bg: #23232320;
  --clr-font-highlight: black;
}

h1,
p {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-main-bg: #ecf2ff;
    --clr-main-font: #5e5e5e;
    --clr-dayCard-bg: #23232320;
    --clr-font-highlight: black;
  }
}
